.DS_Store
Thumbs.db
.~*.csv#
~$*
!.gitkeep

# composer
/vendor/
composer.phar
composer.lock

# pickles2
tests/testdata/standard/px-files/_sys/ram/
!tests/testdata/standard/px-files/_sys/ram/applock/.gitkeep
!tests/testdata/standard/px-files/_sys/ram/caches/.gitkeep
!tests/testdata/standard/px-files/_sys/ram/data/.gitkeep
!tests/testdata/standard/px-files/_sys/ram/publish/.gitkeep
tests/testdata/standard/src_px2/common/px_resources/
!tests/testdata/standard/src_px2/common/px_resources/.gitkeep

# npm
/node_modules/
package-lock.json

# Google Cloud
google-cloud-credentials.json
